[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/georgiyrr/shared-infrastructure.git
[submodule "smpp-hlr-gateway"]
	path = smpp-hlr-gateway
	url = https://github.com/georgiyrr/smpp-hlr-gateway.git
