[submodule "infrastructure"]
	path = infrastructure
	url = git@github.com:georgiyrr/shared-infrastructure.git
[submodule "smpp-hlr-gateway"]
	path = smpp-hlr-gateway
	url = git@github.com:georgiyrr/smpp-hlr-gateway.git
[submodule "smpp-hlr-gateway-dlv"]
	path = smpp-hlr-gateway-dlv
	url = git@github.com:georgiyrr/smpp-hlr-gateway-dlv.git
